<config>
    <modules>
        <Oyst_Oyst>
            <version>0.1.5</version>
        </Oyst_Oyst>
    </modules>
    <global>
        <models>
            <oyst_oyst>
                <class>Oyst_Oyst_Model</class>
                <resourceModel>oyst_oyst_resource</resourceModel>
            </oyst_oyst>
            <oyst_oyst_resource>
                <class>Oyst_Oyst_Model_Resource</class>
                <entities>
                    <notification>
                        <table>oyst_notification</table>
                    </notification>
                </entities>
            </oyst_oyst_resource>
        </models>

        <resources>
            <oyst_oyst_setup>
                <setup>
                    <module>Oyst_Oyst</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </oyst_oyst_setup>
        </resources>

        <blocks>
            <oyst_oyst>
                <class>Oyst_Oyst_Block</class>
            </oyst_oyst>
        </blocks>

        <helpers>
            <oyst_oyst>
                <class>Oyst_Oyst_Helper</class>
            </oyst_oyst>
        </helpers>

        <fieldsets>
            <sales_convert_quote>
                <oyst_order_id><to_order>*</to_order></oyst_order_id>
            </sales_convert_quote>
            <sales_convert_order>
                <oyst_order_id><to_quote>*</to_quote></oyst_order_id>
            </sales_convert_order>
        </fieldsets>

        <events>
            <!-- Support the lib/Oyst/oyst-php folder -->
            <controller_front_init_before>
                <observers>
                    <oyst_lib_load>
                        <type>object</type>
                        <class>Oyst_Oyst_Helper_Autoloader</class>
                        <method>createAndRegister</method>
                    </oyst_lib_load>
                </observers>
            </controller_front_init_before>
        </events>
    </global>
    <frontend>
        <routers>
            <oyst_oyst>
                <use>standard</use>
                <args>
                    <module>Oyst_Oyst</module>
                    <frontName>oyst</frontName>
                </args>
            </oyst_oyst>
        </routers>
        <translate>
            <modules>
                <Oyst_Oyst>
                    <files>
                        <default>Oyst_Oyst.csv</default>
                    </files>
                </Oyst_Oyst>
            </modules>
        </translate>
    </frontend>
    <Admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <oyst_oyst after="Mage_Adminhtml">Oyst_Oyst_Adminhtml</oyst_oyst>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </Admin>
    <adminhtml>
        <events>
            <adminhtml_catalog_product_grid_prepare_massaction>
                <observers>
                    <oyst_addCatalogMassAction>
                        <class>oyst_oyst/observer</class>
                        <method>addCatalogMassAction</method>
                    </oyst_addCatalogMassAction>
                </observers>
            </adminhtml_catalog_product_grid_prepare_massaction>
            <catalog_product_save_after>
                <observers>
                    <oyst_sendproductupdate>
                        <type>singleton</type>
                        <class>Oyst_Oyst_Model_Observer</class>
                        <method>sendProductUpdate</method>
                    </oyst_sendproductupdate>
                </observers>
            </catalog_product_save_after>
            <model_config_data_save_before>
                <observers>
                    <validate_api_key>
                        <type>singleton</type>
                        <class>Oyst_Oyst_Model_Observer</class>
                        <method>validateApiKey</method>
                    </validate_api_key>
                </observers>
            </model_config_data_save_before>
            <sales_order_save_after>
                <observers>
                    <auto_invoice_order>
                        <type>singleton</type>
                        <class>Oyst_Oyst_Model_Observer</class>
                        <method>sendOrderStatusUpdate</method>
                    </auto_invoice_order>
                </observers>
            </sales_order_save_after>
        </events>
        <layout>
            <updates>
                <oyst_oyst>
                    <file>oyst_oyst.xml</file>
                </oyst_oyst>
            </updates>
        </layout>
        <translate>
            <modules>
                <Oyst_Oyst>
                    <files>
                        <default>Oyst_Oyst.csv</default>
                    </files>
                </Oyst_Oyst>
            </modules>
        </translate>
    </adminhtml>

    <!-- Default configuration values -->
    <default>
        <payment>
            <oyst>
                <developed_by>Oyst</developed_by>
                <contact_email>dev@oyst.com</contact_email>
                <module_version>1.0.0</module_version>
                <sdk_version>v1.1.0</sdk_version>
                <enable_logs>1</enable_logs>

                <model>oyst_oyst/payment_method_oyst</model>

                <active>1</active>
                <title>Payer par carte bancaire</title>
                <order_status>pending</order_status>
                <payment_action>authorize_capture</payment_action>
                <allowspecific>0</allowspecific>
                <sort_order>0</sort_order>
            </oyst>
        </payment>
        <oyst>
            <catalog_settings>
                <number_per_pack>1000</number_per_pack>
            </catalog_settings>
            <payment_settings>
                <invoice_label>Oyst</invoice_label>
                <secure_3ds_enable>1</secure_3ds_enable>
            </payment_settings>
            <dev>
                <register_autoloader>1</register_autoloader>
                <autoloader_basepath>lib/Oyst/oyst-php</autoloader_basepath>
            </dev>
        </oyst>
    </default>
    <stores>
        <admin>
            <design>
                <package>
                    <name>default</name>
                </package>
                <theme>
                    <default>oyst</default>
                </theme>
            </design>
        </admin>
    </stores>
    <phpunit>
        <suite>
            <modules>
                <Oyst_Oyst/>
            </modules>
        </suite>
    </phpunit>
</config>
